doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   div.istruzione
     div.istruzione-image(style=`background: url('/images/${istruzione.imgIstruzioneSrc}') top center no-repeat; background-size: cover;`)
     div.istruzione-details
       p
         | Set Number: <B style="color: red;"> #{istruzione.Number} </B>
       p
         | Set Theme: <B style="color: red;"> #{istruzione.Theme} </B>
       p
         | Set Name: <B style="color: red;"> #{istruzione.Name} </B>
       p
         | Set Year: <B style="color: red;"> #{istruzione.Year} </B>
